@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1240px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 35px;
$padding-sp: 20px;

:root {
  --padding-inner: 16px;
}


////////////////////
// フォント設定
////////////////////

:root {
  --font-family-base: "Zen Old Mincho", sans-serif;
  --font-family-second: "Noto Sans JP", sans-serif;
  --font-family-third: "Kaisei HarunoUmi", sans-serif;
}
// ※検証ツールでしっかり反映されているか確認する


// フォントウェイト
:root {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
:root {
  --black: #000;
  --white: #fff;
  --gray: #F5F5F5;
  --gray-dark: #747272;
  --hover-color: #383838;
  --border-color: #888;
}

////////////////////
// z-index
///////////////////

:root {
  --z-index-header: 100;
  --z-index-to-top: 200;
  --z-index-drawer: 1000;
  --z-index-hamburger: 10000;
}

////////////////////
// レスポンシブ
///////////////////
:root {
  --cq-ref-inner: 1240;
  --cq-ref-mobile: 375;
  --cq-ref: 1440;
  --fluid-basis-mobile: (100vw - 320px) / (375 - 320);
  --fluid-basis: (100vw - 768px) / (1440 - 768);
  --fluid-basis-2: (100vw - 1440px) / (1800 - 1440);
}


////////////////////
// アニメーション設定
///////////////////

:root {
  --duration-short: 0.2s;
  --duration-base: 0.3s;
  --duration-long: 0.6s;
  --duration-fv: 0.7s;

  --ease-smooth-bounce: cubic-bezier(.48, .07, .33, .79);
}

////////////////////
// bodyの指定
////////////////////

body {
  color: var(--black);
  font-family: var(--font-family-base);
}