@use "global" as *;

.schedule {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(80);
  }
}

.schedule__inner {
  max-width: 500px;
  margin-inline: auto;
  padding-inline: var(--padding-inner);
  @include mq('md') {
    max-width: calc(1140px + var(--padding-inner) * 2);
  }
}

.schedule__title {
  text-align: center;
  font-size: rem(18);
  font-weight: var(--font-weight-medium);
  line-height: 1.34;
  letter-spacing: calc(6.24 / 24 * 1em);
  border: 1px solid var(--border-color);
  max-width: rem(553);
  margin-inline: auto;
  padding: rem(8) rem(20);
  @include mq('md') {
    font-size: rem(24);
  }
}

.schedule__lead {
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  text-align: center;
  margin-top: rem(60);
  @include mq('md') {
    font-size: rem(24);
    margin-top: rem(120);
  }
}

.schedule__flow {
  margin-top: rem(48);
  display: flex;
  flex-direction: column;
  gap: rem(16);
  @include mq('md') {
    margin-top: rem(80);
    gap: rem(30);
  }
}

.schedule__flow-item {
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  @include mq('md') {
    font-size: rem(24);
  }
}

.schedule__text {
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  @include mq('md') {
    font-size: rem(24);
  }
}

.schedule__accordion {
  margin-top: rem(67);
  max-width: 812px;
  margin-inline: auto;
}

.schedule__accordion-btn {
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  line-height: 1.34;
  letter-spacing: calc(6.24 / 24 * 1em);
  background-color: #D9D9D9;
  padding: rem(8) rem(40);
  margin-inline: auto;
  display: block;
  position: relative;
  transition: filter var(--duration-base) ease;
  @include mq('md') {
    font-size: rem(24);
    padding: rem(28) rem(87);
  }
  @media (any-hover: hover) {
    &:hover {
      filter: brightness(0.95);
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: rem(10);
    width: rem(18);
    background: url('../images/common/arrow-icon.webp') no-repeat center center / cover;
    aspect-ratio: 1 / 1;
    rotate: 180deg;
    transition: rotate var(--duration-base) ease;
    @include mq('md') {
      right: rem(26);
      width: rem(24);
    }
  }
}

.schedule__accordion-btn.is-open::after {
  rotate: 0deg;
}

.schedule__accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--duration-base) ease-in-out;
  margin-top: rem(-10);
  &.is-open {
    max-height: var(--accordion-height);
  }
  @include mq('md') {
    margin-top: rem(-20);
  }
}

.schedule__accordion-body {
  background-color: #F2F2F2;
  padding: rem(52) rem(20) rem(32) rem(20);
  margin-top: rem(-10);
  @include mq('md') {
    padding: rem(82) rem(70) rem(52) rem(70);
  }
}

.schedule__accordion-title {
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  @include mq('md') {
    font-size: rem(24);
  }
}

.schedule__tips {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  margin-top: rem(20);
  @include mq('md') {
    margin-top: rem(30);
  }
}

.schedule__tips-item {
  font-size: rem(14);
  line-height: 1.9;
  @include mq('md') {
    font-size: rem(16);
  }
}

.schedule__tips-title {
font-size: rem(14);
font-weight: var(--font-weight-medium);
@include mq('md') {
  font-size: rem(16);
}
}

.schedule__tips-text {
  font-size: rem(14);
  font-weight: var(--font-weight-medium);
  @include mq('md') {
    font-size: rem(16);
  }
}

.schedule__tips-sub-item {
  font-size: rem(14);
  font-weight: var(--font-weight-medium);
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: rem(6);
  padding-left: rem(5);
  @include mq('md') {
    font-size: rem(16);
    padding-left: rem(10);
  }

  &::before {
    content: '';
    display: inline-block;
    width: rem(3);
    border-radius: calc(infinity * 1px);
   aspect-ratio: 1/1;
    background-color: var(--black);
    margin-top: rem(11);
    @include mq('md') {
      width: rem(5);
    margin-top: rem(12);
    }
  }

}
