@use "global" as *;

.lecture {
margin-top: rem(40);
padding-bottom: rem(100);
@include mq('md') {
  margin-top: rem(100);
  padding-bottom: rem(230);
}
}

.lecture__inner {
max-width: 500px;
padding-inline: var(--padding-inner);
margin-inline: auto;
@include mq('md') {
  max-width: calc(1330px + var(--padding-inner) * 2);
}
}

.lecture__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);
  @media (max-width: 767px) {
  grid-template-areas: "intro" "nav";
  }
  @include mq('md') {
    grid-template-columns: 553fr 675fr;
    gap: clamp(40px, calc(40px + 60 * var(--fluid-basis)), 100px);
  }
}

.lecture__nav {
@media (max-width: 767px) {
grid-area: nav;
}
}

.lecture__nav-list {
display: flex;
flex-direction: column;
gap: rem(10);
@include mq('md') {
  gap: rem(65);
}
}

.lecture__nav-link {
display: block;
width: 100%;
padding: rem(6) rem(20);
text-align: center;
font-size: rem(18);
font-weight: var(--font-weight-medium);
letter-spacing: calc(7.8 / 30 * 1em);
border: 1px solid #888;
transition: background-color var(--duration-base) ease, color var(--duration-base) ease, border-color var(--duration-base) ease;
@include mq('md') {
  font-size: rem(30);
}
@media (any-hover: hover) {
  &:hover {
    background-color: var(--hover-color);
    color: var(--white);
    border-color: var(--hover-color);
  }
}
}

.lecture__intro {
display: flex;
flex-direction: column;
gap: rem(20);
@media (max-width: 767px) {
grid-area: intro;
}
@include mq('md') {
  gap: rem(25);
}
}

.lecture__text {
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  @include mq('md') {
    font-size: rem(24);
  }
}

.lecture__point-item {
position: relative;
font-size: rem(16);
font-weight: var(--font-weight-medium);
display: grid;
grid-template-columns: max-content 1fr;
gap: rem(6);
padding-left: rem(5);
@include mq('md') {
  font-size: rem(24);
  padding-left: rem(10);
  gap: rem(10);
}
&::before {
  content: '';
  display: inline-block;
  width: rem(4);
  border-radius: calc(infinity * 1px);
 aspect-ratio: 1/1;
  background-color: var(--black);
  margin-top: rem(11);
  @include mq('md') {
    width: rem(6);
  margin-top: rem(16);
  }
}
}

.lecture__section {
  margin-top: rem(80);
  @include mq('md') {
    margin-top: rem(160);
  }
}

.lecture__section-header {
  display: flex;
  gap: rem(20);
  align-items: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  @include mq('md') {
    gap: rem(110);
    max-width: 1260px;
    margin-inline: auto;
  }
}

.lecture__section--header-img-wrap {
  width: rem(140);
  @include mq('md') {
    width: rem(235);
  }
}

.lecture__section--header-img {
height: auto;
object-fit: contain;
border-radius: 90px;
}

.lecture__section-title {
  font-size: rem(20);
  font-weight: var(--font-weight-medium);
  letter-spacing: calc(7.8 / 30 * 1em);
  line-height: 1.34;
  border: 1px solid var(--border-color);
  text-align: center;
  padding: rem(3) rem(20);
  width: 100%;
  max-width: rem(250);
  @include mq('md') {
    font-size: rem(30);
    width: 100%;
    max-width: rem(553);
    padding: rem(6) rem(20);
  }
}

.lecture__section-content {
  margin-top: rem(30);
    padding-inline: rem(10);
  @include mq('md') {
    margin-top: rem(80);
    padding-inline: rem(70);
  }
  h3 {
    font-size: rem(18);
    font-weight: var(--font-weight-medium);
    line-height: 1.34;
    letter-spacing: 0.1em;
    padding: rem(3) rem(5);
    background-color: rgba(217, 217, 217, 0.28);
    display: inline-block;
    margin-top: rem(30);
    @include mq('md') {
      font-size: rem(24);
      margin-top: rem(50);
      padding: rem(3) rem(10);
    }
    &:first-child {
      margin-top: 0;
    }
  }
  p {
    font-size: rem(16);
    font-weight: var(--font-weight-medium);
    line-height: 1.34;
    letter-spacing: 0.1em;
    margin-top: rem(20);
    @include mq('md') {
      font-size: rem(20);
      margin-top: rem(25);
    }
    &.mt-small {
      margin-top: rem(5);
    }
  }

  p strong {
    font-weight: var(--font-weight-medium);
    font-size: rem(18);
    @include mq('md') {
      font-size: rem(24);
    }
  }

  p span.bg-red {
    background-color: rgba(255, 78, 78, 0.14);
  }
  p.text-notice {
    margin-top: rem(20);
    font-size: rem(18);
    @include mq('md') {
      margin-top: rem(60);
      font-size: rem(24);
    }
  }
  ul, ol {
    margin-top: rem(20);
    @include mq('md') {
      margin-top: rem(25);
    }
  }

  ul li {
    font-size: rem(16);
    font-weight: var(--font-weight-medium);
    line-height: 1.34;
    letter-spacing: 0.1em;
    position: relative;
    padding-left: rem(5);
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: rem(6);
    @include mq('md') {
      font-size: rem(20);
      padding-left: rem(10);
      gap: rem(10);
    }
    &::before {
      content: '';
      display: inline-block;
      width: rem(4);
      border-radius: calc(infinity * 1px);
      aspect-ratio: 1/1;
      background-color: var(--black);
      height: fit-content;
      margin-top: rem(9);
      @include mq('md') {
        margin-top: rem(11);
        width: rem(5);
      }
    }
  }
  ol li {
    font-size: rem(16);
    font-weight: var(--font-weight-medium);
    line-height: 1.34;
    letter-spacing: 0.1em;
    position: relative;
    padding-left: rem(25);
    @include mq('md') {
      font-size: rem(20);
      padding-left: rem(30);
    }
    &::before {
      content: counter(list-item) ". ";
      position: absolute;
      left: rem(6);
      font-weight: var(--font-weight-medium);
    }
  }
  .lecture__section-content-list ul, .lecture__section-content-list ol {
    margin-top: rem(5);
  }
}