@use "global" as *;

.materials {
margin-top: rem(40);
padding-bottom: rem(100);
@include mq('md') {
  margin-top: rem(100);
  padding-bottom: rem(180);
}
}

.materials__inner {
margin-inline: auto;
max-width: 500px;
padding-inline: var(--padding-inner);
position: relative;
padding-bottom: rem(120);
@include mq('md') {
  max-width: calc(1230px + var(--padding-inner) * 2);
  padding-bottom: rem(110);
}
}

.materials__bg-img-wrap {
position: absolute;
bottom: 0;
right: 0;
aspect-ratio: 223/325;
width: rem(183);
@include mq('md') {
width: rem(446);
}
}

.materials__bg-img {
height: auto;
object-fit: cover;
aspect-ratio: 446 / 650;
}

.materials__title {
text-align: center;
font-size: rem(20);
font-weight: var(--font-weight-medium);
@include mq('md') {
  font-size: rem(32);
}
}

.materials__content {
margin-top: rem(40);
display: flex;
flex-direction: column;
gap: rem(25);
@include mq('md') {
  margin-top: rem(100);
  gap: rem(45);
}
}

.materials__block-title {
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  @include mq('md') {
  font-size: rem(24);
  }
}

.materials__block-body {
  margin-top: rem(5);
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.materials__text {
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  @include mq('md') {
  font-size: rem(24);
  padding-left: rem(30);
  }
}

.materials__sub-title {
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  @include mq('md') {
  font-size: rem(24);
  }
}

