@use "global" as *;

.flow {
  margin-top: rem(50);
  padding-bottom: rem(100);
  container-type: inline-size;
  @include mq('md') {
  margin-top: rem(170);
  padding-bottom: rem(240);
  }
}

.flow__inner {
  max-width: 500px;
  margin-inline: auto;
  padding-inline: var(--padding-inner);
  @include mq('md') {
    max-width: calc(1300px + var(--padding-inner) * 2);
  }
}

.flow__title {
  width: fit-content;
  margin-inline: auto;
  font-size: rem(22);
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-semibold);
  padding: rem(6) rem(20);
  border: 1px solid var(--black);
  @include mq('md') {
    font-size: rem(40);
    padding: rem(8) rem(20);
  }
}

.flow__list {
  margin-top: rem(60);
  display: flex;
  flex-direction: column;
  gap: rem(70);
  @include mq('md') {
    margin-top: rem(180);
    gap: rem(120);
  }
}

.flow__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "image"
    "content";
  gap: rem(30);
  @include mq('md') {
    grid-template-columns: calc((#{"584"} * 100) / var(--cq-ref) * 1cqw) 1fr;
    grid-template-areas: "image content";
    gap: clamp(9px, calc((#{"90 * 100"} / var(--cq-ref) * 1cqw)), 190px);
  }
}

.flow__item:nth-child(odd) {
  @include mq('md') {
    margin-left: calc(50% - 50cqw);
  }
}

.flow__item:nth-child(even) {
  @include mq('md') {
    grid-template-columns: 1fr calc((#{"584"} * 100) / var(--cq-ref) * 1cqw);
    grid-template-areas: "content image";
    margin-right: calc(50% - 50cqw);
  }
}

.flow__item-content {
  grid-area: content;
  max-width: 780px;
}

.flow__item-img-wrap {
  grid-area: image;
  @media (max-width: 767px) {
    margin-inline: calc(50% - 50cqw);
    }
}

.flow__item-img {
  height: auto;
  object-fit: cover;
  aspect-ratio: 564 / 376;
}

.flow__item.flow__item--06 .flow__item-content-title {
  @include mq('md') {
    margin-bottom: rem(30);
  }
}

.flow__item-content-title {
  text-align: center;
  font-size: rem(18);
  font-weight: var(--font-weight-medium);
  letter-spacing: calc(7.8 / 30 * 1em);
  border: 1px solid var(--black);
  padding: rem(6) rem(10);
  margin-bottom: rem(30);
  @include mq('md') {
    font-size: rem(30);
    max-width: rem(553);
    margin-bottom: rem(50);
  }
}

.flow__item-content-text {
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  line-height: 1.34;
  letter-spacing: calc(5.2 / 20 * 1em);
  margin-top: rem(20);
  @include mq('md') {
    font-size: rem(20);
    margin-top: rem(30);
  }
  @media (min-width: 1441px) {
  font-size: clamp(20px, calc(20px + 1 * var(--fluid-basis-2)), 22px);
  }
}

.flow__item-content-list-wrap {
  margin-top: rem(16);
  @include mq('md') {
    margin-top: rem(20);
  }
}

.flow__item-content-list-wrap .flow__item-content-text {
  margin-top: 0;
}

.flow__item-content-list {
  display: grid;
  gap: rem(8);
}

.flow__item-content-list-item {
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  line-height: 1.34;
  letter-spacing: calc(5.2 / 20 * 1em);
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: rem(10);
  padding-left: rem(5);
  @include mq('md') {
    font-size: rem(20);
    padding-left: rem(8);
  }
  @media (min-width: 1441px) {
    font-size: clamp(20px, calc(20px + 2 * var(--fluid-basis-2)), 22px);
  }
  &::before {
    content: '';
    display: inline-block;
    width: rem(3);
    border-radius: calc(infinity * 1px);
   aspect-ratio: 1/1;
    background-color: var(--black);
    margin-top: rem(11);
    @include mq('md') {
      width: rem(5);
    margin-top: rem(12);
    }
  }
}

