@use "global" as *;

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: url('../images/common/drawer-bg.webp') no-repeat center center / cover;
  z-index: var(--z-index-drawer);
  overflow: hidden;
  clip-path: inset(0 0 100% 0);
  border-radius: 3px;
  transition: clip-path 0.5s ease;
@include mq('md') {
width: fit-content;
top: rem(40);
right: rem(30);
}
  &.is-open {
    clip-path: inset(0 0 0 0);
  }
}

.drawer__inner {
  width: 100%;
  height: 100%;
  padding-inline: rem(15);
  padding-block: rem(30) rem(40);
  @include mq('md') {
    padding-inline: rem(40);
    border: 1px solid #c8c8c8;
  }
}

.drawer__close-btn {
  position: absolute;
  bottom: rem(10);
  right: rem(10);
  width: rem(24);
aspect-ratio: 1 / 1;
}

.drawer__close-icon {
  height: auto;
  object-fit: contain;
}

.drawer__title {
  text-align: center;
  font-family: var(--font-family-second);
  font-size: rem(16);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.1em;
  line-height: 1.2;
}

.drawer__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drawer__nav {
margin-top: rem(30);
}

.drawer__menu {
  display: flex;
  flex-direction: column;
  gap: rem(24);
}

.drawer__menu-link {
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--white);
  transition: background-color var(--duration-short);
  padding: rem(16) rem(20);
@include mq('md') {
min-width: rem(400);
padding: rem(16) rem(20);
}
  &:hover {
    background-color: var(--gray);
  }
}

.drawer__menu-text {
  font-family: var(--font-family-second);
  font-size: rem(16);
  font-weight: var(--font-weight-bold);
  line-height: 1.193;
  text-align: center;
  color: var(--black);
}
