@use "global"as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(15);
  @include mq('md') {
    gap: rem(20);
  }
}

.pagination .page-link {
  background-color: transparent;
  position: relative;
}

.pagination .page-link,
.pagination .current-page {
  padding-inline: rem(5);
  font-size: rem(18);
  font-weight: 700;
  letter-spacing: calc(1 / 20 * 1em);
  position: relative;
  @include mq('md') {
    font-size: rem(24);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: rem(-1);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0;
    transition: opacity var(--duration-base) ease;
    @include mq('md') {
      height: 2px;
    }
  }
  @media (any-hover: hover) {
    &:hover::after {
      opacity: 1;
    }
  }
}

.pagination .current-page {
  &::after {
    opacity: 1;
  }
}

.pagination .dots {
    font-size: rem(20);
  @include mq('md') {
    font-size: rem(24);
  }
}

.pagination .prev,
.pagination .next {
  font-size: rem(20);
  font-weight: 700;
  position: relative;
  @include mq('md') {
    font-size: rem(24);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #000;
    opacity: 0;
    transition: opacity var(--duration-base) ease;
  }
  @media (any-hover: hover) {
    &:hover::after {
      opacity: 1;
    }
  }
}