@use "global" as *;

.top-flow {
  margin-top: rem(120);
  @include mq('md') {
    margin-top: rem(160);
  }
}

.top-flow__inner {
  margin-inline: auto;
  max-width: 500px;
  padding-inline: var(--padding-inner);
  @include mq('md') {
    max-width: calc(1100px + var(--padding-inner) * 2);
  }
}

.top-flow__title {
  text-align: center;
  font-size: rem(28);
  font-weight: var(--font-weight-bold);
  letter-spacing: calc(14 / 40 * 1em);
    @include mq('md') {
      font-size: rem(40);
    }
}

.top-flow__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(15);
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(80);
    gap: rem(20);
    grid-template-columns: 1fr max-content 1fr;
    align-items: stretch;
  }
}

.top-flow__list {
  display: flex;
  flex-direction: column;
  @include mq('md') {
    height: 100%;
    justify-content: space-between;
  }
}

.top-flow__item {
  background-color: #f2f2f2;
  padding: rem(16);
  display: flex;
  align-items: center;
  gap: rem(20);
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
  @include mq('md') {
    flex-shrink: 0;
    padding: rem(20) rem(35) rem(20) rem(25);
  }
  &:hover {
    opacity: 0.8;
  }
}

.top-flow__item--second {
@media (max-width: 767px) {
margin-top: rem(5);
}
}

.top-flow__number {
  width: rem(22);
  aspect-ratio: 1/1;
  border-radius: calc(infinity * 1px);
  background-color: var(--black);
  color: #fff;
  font-size: rem(12);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq('md') {
    width: rem(33);
    aspect-ratio: 1/1;
    border-radius: calc(infinity * 1px);
    background-color: var(--black);
    color: #fff;
    font-size: rem(22);
  }
}

.top-flow__text {
font-size: rem(20);
font-weight: var(--font-weight-medium);
line-height: 1.34;
letter-spacing: calc(7.8 / 30 * 1em);
@include mq('md') {
font-size: rem(30);
}
}

.top-flow__arrow-center {
  width: rem(20);
 aspect-ratio: 25/25;
  background-color: #ccc;
  clip-path: polygon(0 0, 100% 0%, 50% 100%);
  height: fit-content;
  margin-inline: auto;
  @include mq('md') {
    flex-shrink: 0;
    width: rem(25);
    margin-top: auto;
    margin-bottom: rem(30);
    rotate: 205deg;
  }
}

.top-flow__arrow {
  width: rem(20);
 aspect-ratio: 25/25;
  background-color: #ccc;
  clip-path: polygon(0 0, 100% 0%, 50% 100%);
  margin-inline: auto;
  margin-block: rem(15);
  @include mq('md') {
    flex-shrink: 0;
    width: rem(25);
  }
}

.top-flow__more {
  text-align: center;
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(80);
  }
}