@use "global" as *;

.not-found {
  padding-top: rem(100);
  padding-bottom: rem(100);
  @include mq('md') {
    padding-top: rem(120);
    padding-bottom: rem(180);
  }
}

.not-found__inner {
  max-width: 500px;
  margin-inline: auto;
  padding-inline: var(--padding-inner);
  @include mq('md') {
    max-width: calc(rem(850) + var(--padding-inner) * 2);
  }
}

.not-found__text-wrap {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(60);
  }
}

.not-found__text {
  font-size: rem(16);
  font-weight: var(--font-weight-medium);
  line-height: 1.8;
  text-align: center;
  margin-top: rem(20);
  @include mq('md') {
    font-size: rem(20);
  }
}

.not-found__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq('md') {
    margin-top: rem(60);
  }
}

.not-found__btn-link {
  font-size: rem(16);
  font-weight: var(--font-weight-bold);
  border: 1px solid var(--black);
  padding: rem(12) rem(15);
  margin-inline: auto;
  transition: background-color var(--duration-base) ease, color var(--duration-base) ease, border-color var(--duration-base) ease;
  @include mq('md') {
    font-size: rem(18);
  }
  @media (any-hover: hover) {
    &:hover {
      background: var(--hover-color);
      color: var(--white);
      border: 1px solid var(--hover-color);
    }
  }
}
